<div class="container">
  <p class="form-title">{{title}}</p>
  <div class="add-new-date-button">
    <button (click)="openAddNewColumnDate()"> + </button>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Last Name</th> 
      <th>Average Mark</th>
      <th *ngFor="let item of subject.marks; let i = index">
          <input type="text" [value]="item.date" [(ngModel)]="subject.marks[i].date"></th>
    </tr>
    <tr *ngFor="let student of students" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event, student.firstName, student.lastName)">
      <td>{{student.firstName}}</td> 
      <td>{{student.lastName}}</td>
      <td>{{average[student.firstName+' '+student.lastName]}}</td>
      <td *ngFor="let item of subject.marks; let i = index">
        <input type="text" [(ngModel)]="marks[student.firstName+' '+student.lastName][item.date]"> </td>
        </tr>
  </table>
  <div class="edit-teacher-section">
    <p>Teacher:</p>
    <input  class="edit-teacher-input" type="text" [(ngModel)]="subject.teacher">
  </div>
  <div class="form-actions">
    <button type="submit" name="Save" (click)="onSave()">Save</button>
  </div>
</div>
