.container {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  grid-gap: 15px;
  
  input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px  solid rgba(0, 0, 0, 0);
    color:white;
  }
  .table-container {
    overflow: auto;
    table, th, td {
      border: 1px solid white;
    }

    td {
      height: 20px;
    }
    td {
      width: 20px;
    }
    input {
      width: 50px;
    }
  }

  .add-new-date-button {
    button {
      position: relative;
      left: 99%;
      margin: 0 auto;
      background-color: orange;
      border-radius: 50%;
      font-size: 25px;
      font-weight: bold;
      border: 0;
      line-height: 25px;
    }
  }

  .input-error {
    border: 1px solid red;
  }

  :hover {
      cursor: pointer;
  }

  .edit-teacher-section {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    max-width: 500px;
    height: 50px;
    vertical-align: middle;
    p {
      margin: 10px auto;
    }
    .edit-teacher-input {
      width: 200px;
      border: 2px solid grey;
    }

  }

}