table, th, td {
    border: 1px solid white;
  }

table {
    width: 100%;
  }

td {
   height: 30px;
  }
.button {
  margin: 5% auto;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  button {
    position: relative;
    margin: 0 10px;
    background-color: rgba(114, 75, 75, 0);
    font-size: 80px;
    font-weight: bold;
    border: 0;
    line-height: 80px;
  }
}