<div>
    <p>Add new subject:</p>
    <div class="input-form">
    
        <p>* Name:</p>
        <input type="text" [value]="newSubject.name" [(ngModel)]="newSubject.name"/>
  
       
        <p>* Teacher:</p>
        <input type="text" [value]="newSubject.teacher" [(ngModel)]="newSubject.teacher">
   
    
        <p>Cabinet:</p>
        <input type="text" [value]="cabinet" [(ngModel)]="cabinet">
  
      
        <p>Description:</p>
        <input type="text" [value]="description" [(ngModel)]="description">
      
    </div>
    <input type="submit" (click)="AddNewStudent()" name="Add" value="Add">
  </div>
  
